*{
    margin: 0;
    padding:0;
    list-style-type: none;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body{
  width: 100%;
  height: 100%;
}

article{
  min-height: 100%;
  display: grid;
  grid-template-rows:auto 1fr auto;
  grid-template-columns: 100%;

}

header{
    background-color: #ef4738;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 40px;
}

#step-one, #step-two, #step-three{
  margin-left: 10px;
  margin-top: 10px;
  text-decoration: underline;
  font-size: 1.1rem;
}

#special-instructions{
  margin: 15px auto 15px auto;
  width: 80%;
  height: 5rem;
  resize: none;
}

#title-meat, #title-veggie, #title-sizes{
  margin-left: 10px;
  margin-top: 10px;
  font-size: 1rem;
}

#title{
    margin: 2rem;
}

nav{
    width: 100%;
}

#header__links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    gap: 100px;
    color: white;
}

#header__links li a{
    color: white;
}

.vegg_option, .meat_option, .size_option{
    background-color:snow;
    border-radius: 3px;
    border: 2px groove #666;
    color: #000;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    margin: 15px 5px 10px 15px;
  }

  .vegg_option:hover, .meat_option:hover, .size_option:hover {
    background-color: lavender;
  }

  li:has(input[type=checkbox]:checked),  li:has(input[type=radio]:checked) {
    outline: 2px solid green;
    background-color: lavender;
  }

  input[type=checkbox], input[type=radio]{
    display: none;
  }

  label{
    cursor: pointer;
    padding: 10px;
    width: 150px;
  }

  #finish_order, #reset_order, #add_pizza{
    width: 10rem;
    height: 2rem;
  }

  #add_pizza{
    display: grid;
    margin: 5px;
    align-self: center;
    text-align: center;
  }

  #buttons{
    margin-left: auto;
    margin-right: auto;
  }

  main{
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  #main{
    background: rgb(223,188,188);
    background: linear-gradient(0deg, rgba(223,188,188,1) 0%, rgba(228,228,228,1) 94%);
    border:grey groove 1px; 
    box-shadow: 12px 10px 11px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 12px 10px 11px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 10px 11px -4px rgba(0,0,0,0.75);
    padding: 3px;
    border-radius: 8px;
    width: 85%;
    display: flex;
    margin: auto;
    flex-direction: row;
  }

  form{
    display: flex;
    flex-direction: column;
    width: 80%;
    border-right: 1px solid black;
  }

  #recent_orders{
    margin: auto;
    width: 85%;
    margin-bottom: 15px;
  }

  #recent_orders li{
    
  }

  #recent_title{
    margin-top: 20px;
    margin-left: 8%;
  }


  .order_label{
    background-color: lightgrey;    
    border:grey ridge 1px; 
    display: flex;
    flex-direction: row;
    padding: 1px;
    border-radius: 5px;
    margin-top: 15px;
    margin-right: 6px;
  }

  #recent_orders li li{
    display: flex;
    flex-direction: column;
    border: none;
    margin-top: 0;
  }
  

  #order{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  #order_list{
    margin-left: 10px;
  }

  #cost{
    border-top: 1px solid black;
    justify-self: flex-end;
    font-weight: 800;
  }

  
footer{
    color: white;
    clear: both;
    background-color:#666;
    height: 100px;
    width: 100%;
    margin-top:auto;
  }

  #del_pizza{
    background-color: transparent;
    border: none;
  }

  #del_pizza:hover{
    color: red;
    cursor: pointer;
  }

  #menu{
    background: rgb(223,188,188);
    background: linear-gradient(0deg, rgba(223,188,188,1) 0%, rgba(228,228,228,1) 94%);
    border:grey groove 1px; 
    box-shadow: 12px 10px 11px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 12px 10px 11px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 10px 11px -4px rgba(0,0,0,0.75);padding: 3px;
    border-radius: 8px;
    width: 85%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    height: fit-content;
  }

  #menu h2{
    width: 100%;
    margin-left: 20px;
  }

  #menu_pizza{
    text-align: center;
    margin: auto;
  }